body {
	display: flex;
	justify-content: center;
	transition: 200ms;
}

main {
	background-color: blanchedalmond;
	flex-grow: 1;
	max-width: 500px;
	margin-top: 50px;
	padding: 16px;
}

.flex {
	display: flex;
	align-items: center;
	gap: 8px;
	height: 24px;
}

.info {
	font-size: 10px;
}

.joke-button {
	border: none;
	border-radius: 6px;
	cursor: pointer;
	padding: 10px 16px;
	transition: 200ms;
}

.joke-button:disabled {
	cursor: default;
	opacity: 0.5;
}
