h1 {
	text-align: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.counter {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
